* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.time {
  padding: 40px 0;
}
.content {
}
.week {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}
.week h5 {
  width: 45px;
}
h3 {
  border-bottom: 2px solid gray;
  width: 150px;
  text-align: center;
  font-size: 10px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
